.btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    
    &-primary {
        text-transform: uppercase;
        color: $gold;

        &:hover, &:focus {
            color: $gold;
            background-color: #68567B;
        }
    }
}