@import '../theme/monstro-design-system.scss';

.HomeMain {
  background-image: $ps-gradient;

  &-heading {
    color: $gold;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 52px;
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
      font-size: 48px;
      line-height: 1.02;
    }
  }

  &-copy {
    font-size: 16px;
    line-height: 1.5;
    color: white;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
  }

  &-logoWrapper{
    max-width: 320px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 188px;
    }
  }

  &-logo {
    width: 100%;
  }
  
}

.PrefineryForm {
  margin: 2rem auto 1rem;

  &-container {
    padding: 1.5rem 2rem 2.5rem;
  }
}
