@import '../theme/index.scss';

.HomeMain {
  background-image: linear-gradient(to bottom, #211832, #a98e7f);

  &-heading {
    color: $gold;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 52px;
    margin-bottom: 1rem;
  }

  &-copy {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
}